<div id="sidebar-overlay"></div>

<aside id="sidebar">
    <div class="sidebar-title">
        <h2 class="black">sidebar</h2>
    </div>

    <nav class="sidebar-nav">
        <h3 class="sidebar-category">navigation</h3>

        <a href="/" class="sidebar-item" tabindex="-1">home</a>
        <a href="/blog/" class="sidebar-item" tabindex="-1">blogs</a>
        <a href="/art/" class="sidebar-item" tabindex="-1">art</a>
        <a href="/photos/" class="sidebar-item" tabindex="-1">photos i took</a>
        <a href="/projects/" class="sidebar-item" tabindex="-1">games and silly projects</a>
        <a href="/cool-people/" class="sidebar-item" tabindex="-1">the board of cool people</a>
    </nav>

    <nav class="sidebar-bottom">
        <h3 class="sidebar-category">my links</h3>

        <a href="/about-me/" class="sidebar-item" tabindex="-1">about me</a>
        <a href="https://github.com/dsyncronized" class="sidebar-item" tabindex="-1">github</a>
        <a href="https://discord.com/users/836158647858888724" class="sidebar-item" tabindex="-1">discord</a>
    </nav>
</aside>
